
.padre{
    width: 100%;
    height: 100vh;
    border: solid 3px black;
    display: flex; 
    
}

.madre{
    border: solid 0px rgb(173, 8, 8);
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(38, 38, 179);
}

.hijo{
    border:0px solid yellow;
    width: 90%;
    height: 40%;
    background-color: white;
}


.hermano{
    border: 0px solid rgba(0, 0, 255, 0.589);
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    background-color: rgb(38, 38, 179);
}


.hijo2{
    border: 0px solid rgb(255, 255, 255);
    width: 90%;
    height: 40%;
    display: flex;
    align-items: flex-end;
    background-color: white;
}



.hijo4{
    border:0px solid pink;
    width: 90%;
    height: 40%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: white;
}

.hijo3{
    border: 0px solid yellow;
    width: 90%;
    height: 40%;
    display: flex;
    justify-content: flex-end;
    background-color: white;
}

.hija{
    border: 0px solid 173,8,8;
    width: 90%;
    height: 90%;
    background-color: red;
}

.hija2{
    border: 0px solid rgb(175, 8, 8);
    width: 95%;
    height: 90%;
    background-color: red;
}